the-ultimate-college-management-web-applicaiton-server/node_modules
the-ultimate-college-management-web-applicaiton-server/.env
The-Ultimate-College-Management-Web-Application-Client/node_modules
The-Ultimate-College-Management-Web-Application-Client/.env.local